* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7f6;
  font-family: Arial, sans-serif;
  color: #222;
}

:root {
  --primary-color: #006b3c;
  --primary-dark: #004b2b;
  --primary-light: #ccfbe1;
  --text-color: #222;
  --gray-color: #777;
  --border-color: #e5e5e5;
}